:host {
  display: block;
}

.code {
  margin: 8px;
  padding: 16px;
  display: block;
  border-radius: 8px;
  border: 1px solid #d32f2f;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.input {
  background-color: #d32f2f;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.output {
  color: #000;
}

.copy {
  cursor: pointer;
}
