.code {
  margin: 8px;
  padding: 16px;
  display: block;
  border-radius: 8px;
  border: 1px solid #D32F2F;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.input {
  background-color: #D32F2F;
  color: #fff;
}

.output {
  color: #000;
}

.copy {
  position: absolute;
  right: 24px;
  cursor: pointer;
}
