@import '~@material/tabs/mdc-tabs';

:host {
  display: block;
}

mat-toolbar {
  background-color: #fff;
  color: #b71c1c;
}

mat-toolbar span {
  margin-left: 8px;
}

.mdc-tab-bar-scroller {
  border-bottom: 1px solid #ffcdd2;
}

.mdc-tab-bar-scroller a {
  color: #b71c1c;
}

.mdc-tab-bar-scroller .mdc-tab-bar__indicator {
  background-color: #b71c1c;
}

.mdc-tab {
  font-weight: 600;
}
