<mat-toolbar color="primary">NG PWA</mat-toolbar>
<div id="container">
  <h1>
    Progressive Web Apps made ridiculously easy with Angular
  </h1>
  <p>
    Here are some links to help you start:
  </p>
  <a mat-button target="_blank" rel="noopener" href="https://angular.io/">Angular</a>
  <a mat-button target="_blank" rel="noopener" href="https://developers.google.com/web/progressive-web-apps/">PWAs</a>
  <a mat-button target="_blank" rel="noopener" href="https://github.com/abraham/ng-pwa">Source</a>

  <mat-tab-group>
    <mat-tab label="Install CLI">
      <pwa-install></pwa-install>
    </mat-tab>
    <mat-tab label="Add PWA">
      Coming soon...
    </mat-tab>
    <mat-tab label="Manifest">
      Coming soon...
    </mat-tab>
    <mat-tab label="Firebase">
      Coming soon...
    </mat-tab>
    <mat-tab label="Lighthouse">
      Coming soon...
    </mat-tab>
  </mat-tab-group>
</div>
