<mat-toolbar color="primary">Angular PWA</mat-toolbar>
<div id="container">
  <h1>
    Progressive Web Apps made ridiculously easy with Angular
  </h1>

  <mat-tab-group>
    <mat-tab label="Add PWA">
      <pwa-install></pwa-install>
    </mat-tab>
    <mat-tab label="Manifest">
      Coming soon...
    </mat-tab>
    <mat-tab label="Firebase">
      Coming soon...
    </mat-tab>
    <mat-tab label="Lighthouse">
      Coming soon...
    </mat-tab>
    <mat-tab label="About">
      <p>
        <a target="_blank" rel="noopener" href="https://github.com/abraham/pwa-ng">Angular PWA</a> is made by <a target="_blank" rel="noopener" href="https://twitter.com/abraham">@abraham</a> to show how easy it is to build a <a target="_blank" rel="noopener" href="https://developers.google.com/web/progressive-web-apps/">PWA</a> with <a target="_blank" rel="noopener" href="https://angular.io/">Angular</a>.
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
