<app-step title="Firebase">
  <p><a href="https://firebase.google.com/products/hosting/" target="_blank" rel="noopener">Firebase Hosting</a> is an easy to use CDN that's great for hosting Angular PWAs.</p>
</app-step>

<app-step title="Create project">
  <p>First you'll need to have a Google account and to create a Firebase app.</p>

  <img-2 [attr.width]="imgWidth" [attr.height]="imgHeight" src="/assets/images/hosting-new.png" alt="Create new Firebase project"></img-2>

  <img-2 [attr.width]="imgWidth" [attr.height]="imgHeight" src="/assets/images/hosting-new-ready.png" alt="Firebase project ready"></img-2>

  <img-2 [attr.width]="imgWidth" [attr.height]="imgHeight" src="/assets/images/hosting-dashboard.png" alt="Firebase project dashboard"></img-2>


  <p>You'll need to install the Firebase tools CLI. We'll install it locally as a dev dependancy.</p>

  <node-package name="firebase-tools"></node-package>

  <p>You can disregard most of the output from installing.</p>

  <app-code-block lang="bsh"
              command="npm install firebase-tools --save-dev"
              code="...

+ firebase-tools@3.18.4
added 334 packages from 176 contributors in 24.024s"></app-code-block>

  <p>If you are not familiar with <app-c-b code="npx"></app-c-b>, it runs the passed in command via the version of the package installed with <app-c-b code="package.json"></app-c-b> instead of the globally installed version.</p>

  <app-code-block lang="bsh" command="npx firebase --version" code="3.18.4"></app-code-block>

  <p>Once you have the Firebase CLI installed, you'll need to login.</p>

  <app-code-block lang="bsh" command="npx firebase login"></app-code-block>

  <p>Now from within the <app-c-b code="awesome-sauce"></app-c-b> project directory, we'll set up a new Firebase project.</p>

  <p>Select <app-c-b code="Hosting"></app-c-b> and any other Firebase services you plan to use.</p>

  <app-code-block lang="bsh"
              command="npx firebase init"
              code="...
You're about to initialize a Firebase project in this directory:

  /Users/abraham/dev/sandbox/awesome-sauce

? Which Firebase CLI features do you want to setup for this folder? Press Space to select features, then Enter to confirm your choices. (Press <space> to s
elect)
 ◯ Database: Deploy Firebase Realtime Database Rules
 ◯ Firestore: Deploy rules and create indexes for Firestore
 ◯ Functions: Configure and deploy Cloud Functions
❯◉ Hosting: Configure and deploy Firebase Hosting sites
 ◯ Storage: Deploy Cloud Storage security rules"></app-code-block>

  <p>The next option will be to select the Firebase project you created earlier.</p>

  <app-code-block lang="bsh" code="=== Project Setup

First, let's associate this project directory with a Firebase project.
You can create multiple project aliases by running firebase use --add,
but for now we'll just set up a default project.

? Select a default Firebase project for this directory:
  Slides Today (slides-today)
  Daily Cat (daily-cat)
❯ awesome-sauce-demo (awesome-sauce-demo)
  Material Rocks (material-rocks)
(Move up and down to reveal more choices)"></app-code-block>

  <p>Followed by telling Firebase where your built code will live. Set it to <app-c-b code="dist/awesome-sauce"></app-c-b></p>

  <app-code-block lang="bsh" code="=== Hosting Setup

Your public directory is the folder (relative to your project directory) that
will contain Hosting assets to be uploaded with firebase deploy. If you
have a build process for your assets, use your build's output directory.

? What do you want to use as your public directory? (public)"></app-code-block>

  <p>Angular is a single-page app where multiple pages are served from the same <app-c-b code="index.html"></app-c-b> so confirm <app-c-b code="yes"></app-c-b>.</p>

  <app-code-block lang="bsh" code="? Configure as a single-page app (rewrite all urls to /index.html)? (y/N)"></app-code-block>

  <p>Firebase may try to be helpful and confirm overwritting <app-c-b code="index.html"></app-c-b>. The <app-c-b code="index.html"></app-c-b> in <app-c-b code="dist/awesome-sauce"></app-c-b> will get automatically overwritten at build time so your answer doesn't matter.</p>

  <app-code-block lang="bsh" code="? File dist/awesome-sauce/index.html already exists. Overwrite? (y/N)"></app-code-block>

  <p>Your local project folder has now been associated with a Firebase project. 🔥</p>

  <app-code-block lang="bsh" code="i  Writing configuration info to firebase.json...
i  Writing project information to .firebaserc...

✔  Firebase initialization complete!"></app-code-block>

  <p>Let's see what's new.</p>


  <app-code-block lang="bsh"
              command="git status"
              code='On branch master
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

        modified:   package-lock.json
        modified:   package.json

Untracked files:
  (use "git add <file>..." to include in what will be committed)

        .firebaserc
        firebase.json

no changes added to commit (use "git add" and/or "git commit -a")'></app-code-block>

  <p><app-c-b code="package.json"></app-c-b> is different because we added <app-c-b code="firebase-tools"></app-c-b>.</p>

  <p>The first new file is a bit of config tells the Firebase CLI what project it's associated with. You should add this to <app-c-b code=".gitignore"></app-c-b></p>

  <app-code-block lang="bsh" command='echo ".firebaserc" >> .gitignore'></app-code-block>

  <p>The other new file is Firebase's general configuration. Currently it tells Hosting how to behave.</p>

  <app-code-block lang="bsh"
              command='cat firebase.json'
              code='{
  "hosting": {
    "public": "dist/awesome-sauce",
    "ignore": [
      "firebase.json",
      "**/.*",
      "**/node_modules/**"
    ],
    "rewrites": [
      {
        "source": "**",
        "destination": "/index.html"
      }
    ]
  }
}'></app-code-block>

  <mat-list role="list">
    <mat-list-item role="listitem">
      <app-c-b matLine code="public"></app-c-b>
      <p matLine>tells Firebase what directory to service files from.</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <app-c-b matLine code="ignore"></app-c-b>
      <p matLine>tells Firebase what files to exclude when deploying.</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <app-c-b matLine code="rewrites"></app-c-b>
      <p matLine>tells Firebase how to map HTTP paths to files.</p>
    </mat-list-item>
  </mat-list>

  <p>One change we'll want to make to <app-c-b code="firebase.json"></app-c-b> is to exclude our service worker files from browser caching. This will make it so that new depoys show up for users faster. Add the <app-c-b code="headers"></app-c-b> section. <app-c-b code="ngsw-worker.js"></app-c-b> is the actual service worker Angular generates and <app-c-b code="ngsw.json"></app-c-b> is the configuration manifest the service worker uses know what to cache.</p>

  <app-code-block lang="bsh"
              code='{
  "hosting": {
    "public": "dist/awesome-sauce",
    "ignore": [
      "firebase.json",
      "**/.*",
      "**/node_modules/**"
    ],
    "rewrites": [
      {
        "source": "**",
        "destination": "/index.html"
      }
    ],
    "headers": [
      {
        "source": "/@(ngsw-worker.js|ngsw.json)",
        "headers": [
          {
            "key": "Cache-Control",
            "value": "no-cache"
          }
        ]
      }
    ]
  }
}'></app-code-block>
</app-step>

<app-step title="Deploy">
  <p>Firebase projects can be deployed with <app-c-b code="firebase deploy"></app-c-b>, however we know Angular needs to be built first so let's combine that into a single command.</p>

  <p>Update <app-c-b code="package.json"></app-c-b> so that the <app-c-b code="scripts"></app-c-b> object has <app-c-b code="deploy"></app-c-b>.</p>

  <app-code-block lang="bsh" code='{
  "ng": "ng",
  "start": "ng serve",
  "start:prod": "ng build --prod && lite-server --baseDir dist/awesome-sauce",
  "build": "ng build",
  "deploy": "ng build --prod && firebase deploy",
  "test": "ng test",
  "lint": "ng lint",
  "e2e": "ng e2e"
}'></app-code-block>

  <p>This is another good place to commit changes.</p>

  <app-code-block lang="bsh" command='git add .'></app-code-block>

  <app-code-block lang="bsh" command="git commit -m 'Add Firebase Hosting config'"></app-code-block>

  <p>And the big moment! Let's share some Awesome™ with the world.</p>

  <app-code-block lang="bsh"
            command="npm run deploy"
            code="...
Date: 2018-05-03T21:18:51.509Z
Hash: 901654847701462d96dc
Time: 6469ms
chunk {0} runtime.6afe30102d8fe7337431.js (runtime) 1.05 kB [entry] [rendered]
chunk {1} styles.34c57ab7888ec1573f9c.css (styles) 0 bytes [initial] [rendered]
chunk {2} polyfills.6c08419970f9e4781b69.js (polyfills) 59.4 kB [initial] [rendered]
chunk {3} main.030526a378002e4a8b27.js (main) 164 kB [initial] [rendered]

=== Deploying to 'awesome-sauce-demo'...

i  deploying hosting
i  hosting: preparing dist/awesome-sauce directory for upload...
✔  hosting: 20 files uploaded successfully

✔  Deploy complete!

Project Console: https://console.firebase.google.com/project/awesome-sauce-demo/overview
Hosting URL: https://awesome-sauce-demo.firebaseapp.com"></app-code-block>

  <p>The app is now deployed to <a href="https://awesome-sauce-demo.firebaseapp.com">https://awesome-sauce-demo.firebaseapp.com</a>.<p>

  <p class="notice">Of course <app-c-b code="awesome-sauce-demo.firebaseapp.com"></app-c-b> is controlled by me so your's will be at a different Firebase URL.</p>

  <p>If you open Chrome DevTools there is a registered service worker and you can again set the site to offline and have it still load.<p>

  <img-2 [attr.width]="imgWidth" [attr.height]="imgHeight" src="/assets/images/app-deployed-with-service-worker.png" alt="App deployed to Firebase with registered service worker"></img-2>

  <p>Firebase also provides a nice dashboard of the most recent deploys to the project.</p>

  <img-2 [attr.width]="imgWidth" [attr.height]="imgHeight" src="/assets/images/hosting-deploys.png" alt="Firebase Hosting dashboard showing latest deploy"></img-2>
</app-step>
