<step title="Manifest">
  <p>The <c-b code="manifest.json"></c-b> is a critical component of building PWAs. It tells browsers how you want your app to be installed, what branding to use, and how to render a splash screen.</p>

  <code-block lang="bsh"
              command="cat src/manifest.json"
              code='{
  "name": "awesome-sauce",
  "short_name": "awesome-sauce",
  "theme_color": "#1976d2",
  "background_color": "#fafafa",
  "display": "standalone",
  "scope": "/",
  "start_url": "/",
  "icons": [
    {
      "src": "assets/icons/icon-72x72.png",
      "sizes": "72x72",
      "type": "image/png"
    },
    {
      "src": "assets/icons/icon-96x96.png",
      "sizes": "96x96",
      "type": "image/png"
    },
    {
      "src": "assets/icons/icon-128x128.png",
      "sizes": "128x128",
      "type": "image/png"
    },
    {
      "src": "assets/icons/icon-144x144.png",
      "sizes": "144x144",
      "type": "image/png"
    },
    {
      "src": "assets/icons/icon-152x152.png",
      "sizes": "152x152",
      "type": "image/png"
    },
    {
      "src": "assets/icons/icon-192x192.png",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "assets/icons/icon-384x384.png",
      "sizes": "384x384",
      "type": "image/png"
    },
    {
      "src": "assets/icons/icon-512x512.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ]
}'></code-block>

  <p>Let's start up the dev server and see how Google Chrome likes it.</p>

  <code-block lang="bsh"
              command="npm start"
              code="...

** Angular Live Development Server is listening on localhost: 4200, open your browser on http://localhost:4200/ **

Date: 2018-05-03T20:58:29.220Z
Hash: 73964e465ef4d40626be
Time: 7950ms
chunk {main} main.js, main.js.map (main) 11.3 kB [initial] [rendered]
chunk {polyfills} polyfills.js, polyfills.js.map (polyfills) 226 kB [initial] [rendered]
chunk {runtime} runtime.js, runtime.js.map (runtime) 5.4 kB [entry] [rendered]
chunk {styles} styles.js, styles.js.map (styles) 15.6 kB [initial] [rendered]
chunk {vendor} vendor.js, vendor.js.map (vendor) 3.39 MB [initial] [rendered]
ℹ ｢wdm｣: Compiled successfully."></code-block>

  <p>Now open <c-b code="http://localhost:4200"></c-b> in Chrome.</p>

  <!-- TODO: Update image to include error -->
  <img-2 [attr.width]="imgWidth" [attr.height]="imgHeight" src="/assets/images/manifest.png" alt="Chrome DevTools showing manifest preview"></img-2>

  <p>Check out the <c-b code="manifest"></c-b> view of the <c-b code="Application"></c-b> page in Chrome DevTools. You'll notice that there are some generic details currently set. You'll want to update the names, colors, and icons to be more unique.</p>

  <p>Activate <c-b code="Add to homescreen"></c-b>. You should see:</p>

  <p class="notice">Site cannot be installed: no matching service worker detected. You may need to reload the page, or check that the service worker for the current page also controls the start URL from the manifest</p>

  <p>Let's start up Angular in <c-b code="--prod"></c-b> mode so the service worker is enabled using the command we made on the <a [routerLink]="['/']">Install page</a>.</p>

  <code-block lang="bsh"
  command="npm run start:prod"
              code="...
Date: 2018-05-03T21:01:56.674Z
Hash: 901654847701462d96dc
Time: 6436ms
chunk {0} runtime.6afe30102d8fe7337431.js (runtime) 1.05 kB [entry] [rendered]
chunk {1} styles.34c57ab7888ec1573f9c.css (styles) 0 bytes [initial] [rendered]
chunk {2} polyfills.6c08419970f9e4781b69.js (polyfills) 59.4 kB [initial] [rendered]
chunk {3} main.030526a378002e4a8b27.js (main) 164 kB [initial] [rendered]
Did not detect a `bs-config.json` or `bs-config.js` override file. Using lite-server defaults...
** browser-sync config **
{ injectChanges: false,
  files: [ './**/*.{html,htm,css,js}' ],
  watchOptions: { ignored: 'node_modules' },
  server:
   { baseDir: 'dist/awesome-sauce',
     middleware: [ [Function], [Function] ] } }
[Browsersync] Access URLs:
 --------------------------------------
       Local: http://localhost:3000
    External: http://192.168.200.8:3000
 --------------------------------------
          UI: http://localhost:3001
 UI External: http://192.168.200.8:3001
 --------------------------------------
[Browsersync] Serving files from: dist/awesome-sauce
[Browsersync] Watching files...
..."></code-block>

  <p><c-b code="http://localhost:3000"></c-b> should open in your browser automatically.</p>

  <p><c-b code="Add to homescreen"></c-b> should how show a prompt leaving you with a 👍 good manifest.</p>

  <img-2 [attr.width]="imgWidth" [attr.height]="imgHeight" src="/assets/images/add-to-shelf.png" alt="Add to shelf prompt"></img-2>

  <p>Neat! Your PWA is now installable.</p>

  <p>It's a good idea to unregister the development service worker so that it doesn't interfere with future work on <c-b code="http://localhost"></c-b>.</p>

  <img-2 [attr.width]="imgWidth" [attr.height]="imgHeight" src="/assets/images/unregister-service-worker.png" alt="Unregister service worker"></img-2>
</step>
