@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

mat-card {
  margin: 8px;
}

img {
  width: 100%;
}

.fixedwidth, pre {
  font-family: 'Roboto Mono', monospace;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 8px;
}
